# ShellX
.shellx/
node_modules/
package.json
package-lock.json

# Build outputs
Debug/
Release/
x64/
L4D2VR/Debug/
L4D2VR/Release/
L4D2VR/x64/
L4D2VR/l4d2vr/Debug/
thirdparty/minhook_src/build/*/Release/

# Build artifacts
*.obj
*.pdb
*.exp
*.lib
*.ilk
*.iobj
*.ipdb
*.tlog/
*.lastbuildstate
*.unsuccessfulbuild
*.recipe
*.log
*.idb
*.db

# Release copies (extracted)
Portal2VR_v5.2/
Portal2VR_v5.3.0/

# IDE
.vs/
*.suo
*.user
*.sln.docstates
