#include <windows.h>

VS_VERSION_INFO VERSIONINFO
FILEVERSION 5,3,0,7
PRODUCTVERSION 5,3,0,7
FILEFLAGSMASK VS_FFI_FILEFLAGSMASK
FILEFLAGS 0
FILEOS VOS_NT_WINDOWS32
FILETYPE VFT_DLL
FILESUBTYPE VFT2_UNKNOWN
BEGIN
  BLOCK "StringFileInfo"
  BEGIN
    BLOCK "040904b0"
    BEGIN
      VALUE "CompanyName", "Portal 2 VR"
      VALUE "FileDescription", "Portal 2 VR - d3d9.dll wrapper for SteamVR"
      VALUE "FileVersion", "5.3.0.8"
      VALUE "InternalName", "d3d9"
      VALUE "LegalCopyright", "Copyright (C) 2026 Portal 2 VR Team"
      VALUE "OriginalFilename", "d3d9.dll"
      VALUE "ProductName", "Portal 2 VR"
      VALUE "ProductVersion", "5.3.0.8"
    END
  END
  BLOCK "VarFileInfo"
  BEGIN
    VALUE "Translation", 0x0409, 1200
  END
END
